---
http_interactions:
- request:
    method: get
    uri: http://api.regalii.dev/transactions?q%5Bid_eq%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth testing:/Z+CR7cSNha7SQkeeTB+Tgo2Alc=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Pagination:
      - '{"total_entries":1,"total_pages":1,"previous_page":null,"current_page":1,"next_page":null}'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a59c0e3ffaa54b7147e5d4eca0d1010"
    body:
      encoding: UTF-8
      string: '{"transactions":[{"type":"transaction","id":1,"amount":6.0,"amount_currency":"usd","fx_rate":42.0,"amount_usd":10.0,"transaction_fee":0.0,"total_usd":10.0,"hours_to_fulfill":0,"created_at":"2013-10-06T21:33:53Z"}]}'
  recorded_at: Fri, 20 Jan 2017 18:13:46 GMT
recorded_with: VCR 2.9.3
