---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/transactions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - mZFLkyvTelC5g8XnyQrpOw==
      Authorization:
      - APIAuth testing:aINWPDl0mJmW3e827SUqfXhK9R4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["jtp7rxty49srbnvs81vi","5jk98du3pxcinwjuyyqj","f6ie1t3880amk296nfwc","x1qlxjnutp0728apmxj6","jkfak7i0nzmjdnarmo41","par6uhs6oernbjlzomwk","8xscqsrev8aocsgmzyk9","ig0e1e38gmfvti5mz9t8","l130ii42kwrbytazzoiq","5zmprn500dlfwvfvcnce","4s2qv2z3bs3onhxjttto","ncvfjrroe7f5q0a9zdir","zbb7cd01oqbect094lj2","y8h7wxjgyjn5y8lldy45","oyojf2wwrtzgs2oq6kui"]'
      X-Pagination:
      - '{"total_entries":5479,"total_pages":55,"previous_page":null,"current_page":1,"next_page":2}'
    body:
      encoding: UTF-8
      string: '{"transactions":[{"id":467261,"external_id":null,"biller_id":61,"account_number":"9173460628","bill_amount":50.0,"bill_amount_currency":"usd","fx_rate":1.0,"bill_amount_usd":50.0,"bill_amount_chain_currency":50.0,"payment_transaction_fee":0.0,"payment_total_usd":50.0,"payment_total_chain_currency":50.0,"chain_earned":2.0,"chain_paid":48.0,"starting_balance":839.08,"ending_balance":887.08,"hours_to_fulfill":0,"sms_text":null,"created_at":"2014-08-22T23:59:12Z","payment_status":"fulfilled","bill_amount_local_currency":50.0,"local_currency":"USD"},{"id":467881,"external_id":null,"biller_id":61,"account_number":"9173460628","bill_amount":10.0,"bill_amount_currency":"usd","fx_rate":1.0,"bill_amount_usd":10.0,"bill_amount_chain_currency":10.0,"payment_transaction_fee":0.0,"payment_total_usd":10.0,"payment_total_chain_currency":10.0,"chain_earned":0.4,"chain_paid":9.6,"starting_balance":893.43,"ending_balance":903.03,"hours_to_fulfill":0,"sms_text":null,"created_at":"2014-08-23T16:42:16Z","payment_status":"fulfilled","bill_amount_local[...]
