---
http_interactions:
- request:
    method: get
    uri: http://apix.regalii.dev/rates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth testing:aA2320fpsVEqu6A7Lsqwz1nkQcE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"64b2e57f343fefa48ce2410586b51df2"
    body:
      encoding: UTF-8
      string: '{"GBP":0.7892,"CAD":1.3171,"MXN":20.2181,"RD":45.3925,"NIO":28.5876,"GTQ":7.3642,"HNL":22.7156,"COP":3088.617,"BRL":3.325,"PEN":3.3473,"BOB":6.7776,"PHP":48.7303,"INR":67.2249,"JMD":126.5856,"NGN":308.4099}'
  recorded_at: Fri, 20 Jan 2017 18:14:18 GMT
recorded_with: VCR 2.9.3
