---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/subscriptions/consult
    body:
      encoding: UTF-8
      string: '{"id":187}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - 8sE1L+X9jGcQTnevFZDGhg==
      Authorization:
      - APIAuth api-key:yvHUTsCWKtie6zLrnMrjekx+7w4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"325229d405f68b025034d76f7b1d778d"'
    body:
      encoding: UTF-8
      string: '{"id":187,"login":"testlogin","balance":36.98,"due_date":"2015-12-22","account_number":"38517298","name_on_account":"Ms.
        Sarina Weber","callback_url":null,"is_running":false,"error":null,"has_error":false,"created_at":"2015-12-22T19:06:39.000Z","updated_at":"2015-12-22T19:06:41.000Z"}'
  recorded_at: Tue, 22 Dec 2015 19:08:43 GMT
recorded_with: VCR 2.9.3
