---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/subscriptions/create
    body:
      encoding: UTF-8
      string: '{"biller_id":6234,"login":"testlogin","password":"supersecret"}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - tkSQuNsQHRucG/g2fxv+Ag==
      Authorization:
      - APIAuth api-key:yRztYfOUP1gK2vkf65Ytdeav3wc=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9e98bca7e0525e592e3341653d24413f"'
    body:
      encoding: UTF-8
      string: '{"id":187,"login":"testlogin","balance":null,"due_date":null,"account_number":null,"name_on_account":null,"callback_url":null,"is_running":true,"error":null,"has_error":false,"created_at":"2015-12-22T19:06:39.802Z","updated_at":"2015-12-22T19:06:39.820Z"}'
  recorded_at: Tue, 22 Dec 2015 19:06:39 GMT
recorded_with: VCR 2.9.3
