---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/subscriptions/refresh
    body:
      encoding: UTF-8
      string: '{"id":187}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - 8sE1L+X9jGcQTnevFZDGhg==
      Authorization:
      - APIAuth api-key:eaQ3Ly3W6JiqoeuR1dB0Iibw6D0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"00294b8887edc9f81e2fa4f35e5165b0"'
    body:
      encoding: UTF-8
      string: '{"id":187,"login":"newtestlogin","balance":null,"due_date":null,"account_number":"38517298","name_on_account":"Ms.
        Sarina Weber","callback_url":null,"is_running":true,"error":null,"has_error":false,"created_at":"2015-12-22T19:06:39.000Z","updated_at":"2015-12-22T19:13:29.792Z"}'
  recorded_at: Tue, 22 Dec 2015 19:13:29 GMT
recorded_with: VCR 2.9.3
