---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/subscriptions/update
    body:
      encoding: UTF-8
      string: '{"id":187,"login":"newtestlogin"}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - CoogK1fimSF+khozCNT+qQ==
      Authorization:
      - APIAuth api-key:PM7RUohA9BXUf5Qq8+eTIca8dsM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3910373fe2be2c7208f1bf2de1f208e5"'
    body:
      encoding: UTF-8
      string: '{"id":187,"login":"newtestlogin","balance":null,"due_date":null,"account_number":"38517298","name_on_account":"Ms.
        Sarina Weber","callback_url":null,"is_running":true,"error":null,"has_error":false,"created_at":"2015-12-22T19:06:39.000Z","updated_at":"2015-12-22T19:11:34.859Z"}'
  recorded_at: Tue, 22 Dec 2015 19:11:34 GMT
recorded_with: VCR 2.9.3
