---
http_interactions:
- request:
    method: post
    uri: http://apix.regalii.dev/bills
    body:
      encoding: UTF-8
      string: '{"biller_id":2,"account_number":"8081969"}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - HACXtG3Wd6zozvcZfojLgg==
      Authorization:
      - APIAuth testing:0qG2SymJcJiXDNWk2i5JziM6Hew=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"564fdb2a673a5e8df4884766f3f17d86"
    body:
      encoding: UTF-8
      string: '{"type":"bill","id":695109,"biller_id":2,"account_number":"8081969","name_on_account":null,"due_date":null,"balance":76.0,"balance_currency":"RD","balance_updated_at":"2017-01-20T18:19:25Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'
  recorded_at: Fri, 20 Jan 2017 18:19:26 GMT
recorded_with: VCR 2.9.3
