---
http_interactions:
- request:
    method: post
    uri: http://apix.regalii.dev/bills/695109/pay
    body:
      encoding: UTF-8
      string: '{"amount":758.0,"currency":"RD","user_id":12981}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - C9Yv/7+TQ7VwZdeaazmuAg==
      Authorization:
      - APIAuth testing:TS5gR2wQ5T1Yy+urco2nGPSkOSs=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fceefadd2b925ea2870834e6fcc8acd2"
    body:
      encoding: UTF-8
      string: '{"type":"transaction","id":3209415,"amount":758.0,"amount_currency":"RD","fx_rate":44.4661,"amount_usd":17.05,"transaction_fee":3.0,"total_usd":20.05,"hours_to_fulfill":0,"created_at":"2017-01-20T18:30:31Z"}'
  recorded_at: Fri, 20 Jan 2017 18:30:31 GMT
recorded_with: VCR 2.9.3
