---
http_interactions:
- request:
    method: post
    uri: http://apix.regalii.dev/bills/695109/refresh
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - mZFLkyvTelC5g8XnyQrpOw==
      Authorization:
      - APIAuth testing:DlcT45MtZaNbbFJeAZeqeJGMFiw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f7fe2ff230a086fa50a28d635b7679e0"
    body:
      encoding: UTF-8
      string: '{"type":"bill","id":695109,"biller_id":2,"account_number":"8081969","name_on_account":null,"due_date":null,"balance":482.0,"balance_currency":"RD","balance_updated_at":"2017-01-20T18:25:36Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'
  recorded_at: Fri, 20 Jan 2017 18:25:37 GMT
recorded_with: VCR 2.9.3
