---
http_interactions:
- request:
    method: get
    uri: http://apix.regalii.dev/bills/695109
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth testing:GUsCP3d87NwA0C9JOY+J+RiYImQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ec7a9c02711a32aad9ed37046942c36f"
    body:
      encoding: UTF-8
      string: '{"type":"bill","id":695109,"biller_id":2,"account_number":"8081969","name_on_account":"Test
        name","due_date":null,"balance":76.0,"balance_currency":"RD","balance_updated_at":"2017-01-20T18:19:25Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'
  recorded_at: Fri, 20 Jan 2017 18:22:28 GMT
recorded_with: VCR 2.9.3
