---
http_interactions:
- request:
    method: delete
    uri: http://api.regalii.dev/bills/731285
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - mZFLkyvTelC5g8XnyQrpOw==
      Authorization:
      - APIAuth api-key-rakib:RSRyesV+axTAoq4Y+oNAf13B984=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b0d0354ace7c115922fcf0d5ec72f0b1"
    body:
      encoding: UTF-8
      string: '{"id":731285,"biller_id":10,"account_number":"8096425991","name_on_account":null,"due_date":null,"balance":null,"balance_currency":null,"balance_in_chain_currency":null,"balance_updated_at":null,"created_at":"2016-11-07T16:32:06Z","last_paid_at":"2016-11-07T16:32:06Z","error_with_account":false,"error_message":null,"status":"updated","migrated_at":null,"mfa_challenges":[]}'
  recorded_at: Tue, 28 Mar 2017 18:06:57 GMT
recorded_with: VCR 2.9.3
