---
http_interactions:
- request:
    method: delete
    uri: http://api.regalii.dev/bills/695110
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - mZFLkyvTelC5g8XnyQrpOw==
      Authorization:
      - APIAuth api-key:sSjdr3PIWZUs54VXZOphbSycxS4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a3bec51c4dc8f722e7ead6035ff7210f"
    body:
      encoding: UTF-8
      string: '{"id":695110,"biller_id":37,"account_number":"5558150612","name_on_account":null,"due_date":null,"balance":null,"balance_currency":null,"balance_in_chain_currency":null,"balance_updated_at":null,"created_at":"2017-02-01T18:57:30Z","last_paid_at":"2017-02-01T18:57:30Z","error_with_account":false,"error_message":null,"status":"updating","migrated_at":null,"mfa_challenges":[]}'
  recorded_at: Wed, 22 Feb 2017 21:18:38 GMT
- request:
    method: delete
    uri: http://api.regalii.dev/bills/695110
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - mZFLkyvTelC5g8XnyQrpOw==
      Authorization:
      - APIAuth api-key:sSjdr3PIWZUs54VXZOphbSycxS4=
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"This bill is already deleted"}'
  recorded_at: Wed, 22 Feb 2017 21:18:38 GMT
recorded_with: VCR 2.9.3
