---
http_interactions:
- request:
    method: get
    uri: http://api.regalii.dev/bills
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth api-key:0jXqB67eM67jjhQN59OCfd6xEts=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7d6d90aec27891b906d0ee6dfc9af4f3"'
    body:
      encoding: UTF-8
      string: '{"bills":[{"id":440,"biller_id":9144,"account_number":"4222422249","name_on_account":null,"due_date":null,"balance":null,"balance_currency":"USD","balance_in_chain_currency":null,"balance_updated_at":null,"created_at":"2016-12-20T12:15:41Z","last_paid_at":null,"error_with_account":false,"error_message":null,"status":"pristine","migrated_at":null,"mfa_challenges":[]}]}'
  recorded_at: Wed, 23 Mar 2016 00:31:47 GMT
recorded_with: VCR 2.9.3
