---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/bills/5/pay
    body:
      encoding: UTF-8
      string: '{"amount":758.0,"currency":"RD"}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - u+ZqIKO1puNX1Bmnc+RIeA==
      Authorization:
      - APIAuth api-key:DSMavaId21EfyfSnPEheCztLWzo=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"23ca92e46ced650653468a75c275d4be"'
    body:
      encoding: UTF-8
      string: '{"id":23,"external_id":null,"biller_id":2,"account_number":"8081969","bill_amount":758.0,"bill_amount_currency":"RD","fx_rate":43.7165,"bill_amount_usd":17.34,"bill_amount_chain_currency":17.34,"payment_transaction_fee":3.0,"payment_total_usd":20.34,"payment_total_chain_currency":20.34,"chain_earned":0.0,"chain_paid":20.34,"starting_balance":-101.2,"ending_balance":-121.54,"hours_to_fulfill":0,"discount":0.0,"sms_text":null,"created_at":"2016-03-22T21:42:57Z","payment_status":"sent","bill_amount_local_currency":758.0,"local_currency":"RD"}'
  recorded_at: Tue, 22 Mar 2016 21:42:58 GMT
recorded_with: VCR 2.9.3
