---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/bills/5/refresh
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - mZFLkyvTelC5g8XnyQrpOw==
      Authorization:
      - APIAuth api-key:jA4Sr+PuLQ0sW64JdLTH/fsSp8Q=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"02af45393107ad8eb24c553d6647db85"'
    body:
      encoding: UTF-8
      string: '{"id":5,"biller_id":2,"account_number":"8081969","name_on_account":null,"due_date":null,"balance":44.0,"balance_currency":"RD","balance_in_chain_currency":1.01,"balance_updated_at":"2016-03-22T21:38:08Z","created_at":"2016-03-22T21:32:36Z","last_paid_at":null,"error_with_account":false,"error_message":null,"status":"updated","mfa_challenges":[]}'
  recorded_at: Tue, 22 Mar 2016 21:38:08 GMT
recorded_with: VCR 2.9.3
