---
http_interactions:
- request:
    method: get
    uri: http://api.regalii.dev/bills/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth api-key:0jXqB67eM67jjhQN59OCfd6xEts=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7d6d90aec27891b906d0ee6dfc9af4f3"'
    body:
      encoding: UTF-8
      string: '{"id":5,"biller_id":2,"account_number":"8081969","name_on_account":"Test
        name","due_date":null,"balance":44.0,"balance_currency":"RD","balance_in_chain_currency":1.01,"balance_updated_at":"2016-03-22T21:38:08Z","created_at":"2016-03-22T21:32:36Z","last_paid_at":null,"error_with_account":false,"error_message":null,"status":"updated","mfa_challenges":[]}'
  recorded_at: Wed, 23 Mar 2016 00:31:47 GMT
recorded_with: VCR 2.9.3
