---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/rates/history
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - N6YlnMDB2uKZp4Zkid/wvQ==
      Authorization:
      - APIAuth api-key:wDWuuGzvXsmgoyu4FXh3H1wWWDY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e1f5f383bed3473a4ef16fa13144041c"'
    body:
      encoding: UTF-8
      string: '{"2015-12-22":{"GBP":0.6613,"CAD":1.3654,"MXN":16.8346,"RD":44.6211,"NIO":27.3261,"GTQ":7.4664,"HNL":21.3473,"COP":3255.7266,"BRL":3.918,"PEN":3.3183,"BOB":6.7695,"PHP":46.2856,"INR":64.9091,"JMD":117.6059,"NGN":194.7985},"2015-12-21":{},"2015-12-20":{}}'
  recorded_at: Tue, 22 Dec 2015 17:45:03 GMT
recorded_with: VCR 2.9.3
