---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/rates
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - N6YlnMDB2uKZp4Zkid/wvQ==
      Authorization:
      - APIAuth api-key:+xL1yqNmwctsEMg/6HDjNlM/T0I=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2f2c2ea84123a22b112875bfefd7759b"'
    body:
      encoding: UTF-8
      string: '{"GBP":0.6479,"CAD":1.3095,"MXN":16.6048,"RD":44.365,"NIO":26.9834,"GTQ":7.5274,"HNL":21.4265,"COP":3024.4074,"BRL":3.9135,"PEN":3.164,"BOB":6.7661,"PHP":45.8195,"INR":64.3778,"JMD":115.885,"NGN":195.1023}'
  recorded_at: Tue, 22 Dec 2015 17:34:24 GMT
recorded_with: VCR 2.9.3
