---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/account
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - mZFLkyvTelC5g8XnyQrpOw==
      Authorization:
      - APIAuth testing:Ndn3KufYvnjzc/I5YRkhW8VYBr8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["mhhqiab2uil4p6g0oebv","r6lmkflfhgzk81pl7mbf","yzn45ee23n7io98v2qj2","7xow4niq6l4oflkx1j91","hi0oyl4yj3yid5dshdia","6ejb8nwplj473si59e1c","t0azwm8co5tcpswi3lqt","5jk98du3pxcinwjuyyqj","f6ie1t3880amk296nfwc","x1qlxjnutp0728apmxj6","jkfak7i0nzmjdnarmo41","par6uhs6oernbjlzomwk","8xscqsrev8aocsgmzyk9","ig0e1e38gmfvti5mz9t8","l130ii42kwrbytazzoiq","5zmprn500dlfwvfvcnce","4s2qv2z3bs3onhxjttto","ncvfjrroe7f5q0a9zdir","zbb7cd01oqbect094lj2","y8h7wxjgyjn5y8lldy45"]'
    body:
      encoding: UTF-8
      string: '{"name":"Regalii","balance":1797.41,"minimum_balance":-2000.0,"currency":"USD"}'
  recorded_at: Tue, 01 Aug 2017 20:07:58 GMT
recorded_with: VCR 3.0.3
