---
http_interactions:
- request:
    method: delete
    uri: http://api.regalii.dev/bills/695111
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - mZFLkyvTelC5g8XnyQrpOw==
      Authorization:
      - APIAuth testing:3cDfC/eo+WHiejtQidJeUdXHUm0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c194287293fe717f5ca605ad902c9a4"
    body:
      encoding: UTF-8
      string: '{"type":"bill","id":695111,"biller_id":37,"account_number":"5558150611","name_on_account":null,"due_date":null,"balance":null,"balance_currency":null,"balance_updated_at":null,"error_code":null,"error_message":null,"status":"fetching","migrated_at":null,"mfa_challenges":[]}'
  recorded_at: Wed, 22 Feb 2017 21:22:51 GMT
recorded_with: VCR 2.9.3
