---
http_interactions:
- request:
    method: get
    uri: http://api.regalii.dev/bills
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth testing:ivVHfycVUNXQ8ZR3SDNbpYwhWak=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Pagination:
      - '{"total_entries":9205,"total_pages":93,"previous_page":null,"current_page":1,"next_page":2}'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"20651000fab4c174e3320f6ce1f2d612"
    body:
      encoding: UTF-8
      string: '{"bills":[{"type":"bill","id":51,"biller_id":12,"account_number":"8099670883","name_on_account":null,"due_date":null,"balance":0.0,"balance_currency":null,"balance_updated_at":null,"error_code":null,"error_message":null,"status":null,"migrated_at":null,"mfa_challenges":[]},{"type":"bill","id":401,"biller_id":14,"account_number":"6463060086","name_on_account":"","due_date":null,"balance":null,"balance_currency":"RD","balance_updated_at":"2014-12-15T07:03:17Z","error_code":"R4","error_message":"Account
        number does not resolve with biller","status":null,"migrated_at":null,"mfa_challenges":[]},{"type":"bill","id":971,"biller_id":3,"account_number":"6463060086","name_on_account":null,"due_date":null,"balance":null,"balance_currency":"RD","balance_updated_at[...]
