---
http_interactions:
- request:
    method: patch
    uri: http://api.regalii.dev/bills/695109
    body:
      encoding: UTF-8
      string: '{"name_on_account":"Test name"}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - tQ8IX1hl4ZosSRi1479/kw==
      Authorization:
      - APIAuth testing:X1CXuA4QGfK6f65sQJi7P1rZNhQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ec7a9c02711a32aad9ed37046942c36f"
    body:
      encoding: UTF-8
      string: '{"type":"bill","id":695109,"biller_id":2,"account_number":"8081969","name_on_account":"Test
        name","due_date":null,"balance":76.0,"balance_currency":"RD","balance_updated_at":"2017-01-20T18:19:25Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'
  recorded_at: Fri, 20 Jan 2017 18:22:11 GMT
recorded_with: VCR 2.9.3
