---
http_interactions:
- request:
    method: get
    uri: http://apix.regalii.dev/billers/credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth testing:CMNxpnFsZjsPpc+bn/K4yfvjD/c=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Pagination:
      - '{"total_entries":297,"total_pages":1,"previous_page":null,"current_page":1,"next_page":null}'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46aad97ff54d9821c003525d10aa21d2"
    body:
      encoding: UTF-8
      string: '{"billers":[{"id":12476,"name":"1\u00261","country":"US","currency":"USD","biller_type":"MediaTest","bill_type":"credentials","required_parameters":["login","password"],"returned_parameters":["name_on_account","balance","due_date","account_number","payments"],"can_migrate":false,"has_xdata":false},{"id":12306,"name":"21st
        Century Insurance","country":"US","currency":"USD","biller_type":"Insurance","bill_type":"credentials","required_parameters":["login","password"],"returned_parameters":["name_on_account","balance","due_date","account_number","payments"],"can_migrate":false,"has_xdata":false},{"id":12339,"name":"AAA
        Auto Club Group","country":"US","currency":"USD","biller_type":"Insurance","bill_type":"credentials","required_parameters":["login","password"],"returne[...]
