---
http_interactions:
- request:
    method: get
    uri: http://apix.regalii.dev/billers/topups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth testing:22rqVLPXGzqj9WjLi/ukJoDtfGk=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Pagination:
      - '{"total_entries":140,"total_pages":1,"previous_page":null,"current_page":1,"next_page":null}'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"113c9840d5e53e34d881584905fcff3c"
    body:
      encoding: UTF-8
      string: '{"billers":[{"id":1561,"name":"+Más Recarga","country":"MX","currency":"MXN","biller_type":"Cell","bill_type":"phone_number","available_topup_amounts":["2.00","4.00","6.00","10.00","15.00","20.00","30.00","50.00"],"topup_fxrate":10.0,"mask":"(999)
        999-9999","topup_commission":25.0,"account_number_digits":"10"},{"id":4222,"name":"Aircel
        India","country":"IN","currency":"INR","biller_type":"Cell","bill_type":"phone_number","available_topup_amounts":["4.00","6.00","10.00","20.00"],"topup_fxrate":null,"mask":null,"topup_commission":9.0,"account_number_digits":"10"},{"id":4132,"name":"Airtel
        Bharti India","country":"IN","currency":"INR","biller_type":"Cell","bill_type":"phone_number","available_topup_amounts":["4.00","6.00","10.00","20.00"],"topup_fxrate":null,"mask":null,"topup_commi[...]
