---
http_interactions:
- request:
    method: get
    uri: http://apix.regalii.dev/billers/utilities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth testing:Cz4HA9vzYkp55fC26u9ZiC6e/kA=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Pagination:
      - '{"total_entries":730,"total_pages":1,"previous_page":null,"current_page":1,"next_page":null}'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b5b93916df14899da4bbe865ddca402"
    body:
      encoding: UTF-8
      string: '{"billers":[{"id":6398,"name":"21st Century Insurance","country":"US","currency":"USD","biller_type":"Insurance","bill_type":"account_number","can_check_balance":false,"mask":null,"requires_name_on_account":false,"supports_partial_payments":true,"hours_to_fulfill":72,"account_number_digits":null,"has_xdata":false},{"id":6399,"name":"AAA
        Auto Club Group","country":"US","currency":"USD","biller_type":"Insurance","bill_type":"account_number","can_check_balance":false,"mask":null,"requires_name_on_account":false,"supports_partial_payments":true,"hours_to_fulfill":72,"account_number_digits":null,"has_xdata":false},{"id":6400,"name":"AAA
        Auto Club of Southern California","country":"US","currency":"USD","biller_type":"Insurance","bill_type":"account_number","can_check_balance":false,"mask"[...]
