---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/billers/utilities
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - mZFLkyvTelC5g8XnyQrpOw==
      Authorization:
      - APIAuth testing:6GEn4mXPP2KhSJYP8ccbXcMBgtQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["bkm86prn7svl3amo21ha","5jk98du3pxcinwjuyyqj","f6ie1t3880amk296nfwc","x1qlxjnutp0728apmxj6","jkfak7i0nzmjdnarmo41","par6uhs6oernbjlzomwk","8xscqsrev8aocsgmzyk9","ig0e1e38gmfvti5mz9t8","l130ii42kwrbytazzoiq","5zmprn500dlfwvfvcnce","4s2qv2z3bs3onhxjttto","ncvfjrroe7f5q0a9zdir","zbb7cd01oqbect094lj2","y8h7wxjgyjn5y8lldy45","oyojf2wwrtzgs2oq6kui","jtp7rxty49srbnvs81vi","aeexy9e3en4wn9c0tjgk","wqv1l87qutpz3z26rm9l","xtnrl1vlsnr0ok239vi4","ozhmwpacbverlbst6qwj"]'
      X-Pagination:
      - '{"total_entries":862,"total_pages":1,"previous_page":null,"current_page":1,"next_page":null}'
    body:
      encoding: UTF-8
      string: '{"billers":[{"id":6398,"name":"21st Century Insurance","country":"US","currency":"USD","biller_type":"Insurance","bill_type":"account_number","can_check_balance":false,"mask":null,"requires_name_on_account":false,"supports_partial_payments":true,"hours_to_fulfill":72,"account_number_digits":null,"has_xdata":false},{"id":6399,"name":"AAA
        Auto Club Group","country":"US","currency":"USD","biller_type":"Insurance","bill_type":"account_number","can_check_balance":false,"mask":null,"requires_name_on_account":false,"supports_partial_payments":true,"hours_to_fulfill":72,"account_number_digits":null,"has_xdata":false},{"id":6400,"name":"AAA
        Auto Club of Southern California","country":"US","currency":"USD","biller_type":"Insurance","bill_type":"account_number","can_check_balance":false,"mask"[...]
