---
http_interactions:
- request:
    method: get
    uri: http://api.regalii.dev/billers/credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth api-key:iVasEKpN7aMC50Od44vlpf60F+M=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4c9bb549ffd38f8e4e183f2554b71cce"'
    body:
      encoding: UTF-8
      string: '{"billers":[{"id":6330,"name":"Adobe Creative Cloud","country":"US","currency":"","biller_type":"Media","bill_type":"credentials","required_parameters":null,"returned_parameters":null}]}'
  recorded_at: Tue, 22 Mar 2016 19:56:13 GMT
recorded_with: VCR 2.9.3
