---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/billers
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - N6YlnMDB2uKZp4Zkid/wvQ==
      Authorization:
      - APIAuth api-key:rSLWmEbeo7F0wWTlhaZOgvNNies=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"eb1853d44871af9ad52318dc666bd4b2"'
    body:
      encoding: UTF-8
      string: '{"billers":[{"id":3261,"name":"Adani Energy Limited","country":"India","biller_type":"Gas","can_check_balance":false,"supports_partial_payments":true,"requires_name_on_account":false,"available_topup_amounts":null,"hours_to_fulfill":0,"local_currency":"INR","account_number_digits":"10","mask":"9999999999","bill_type":"account_number","country_iso":"IN","currency_iso":"INR"}]}'
  recorded_at: Tue, 22 Dec 2015 17:52:05 GMT
recorded_with: VCR 2.9.3
