---
http_interactions:
- request:
    method: get
    uri: http://api.regalii.dev/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth api-key:8YZx4JxLbBs+QmYnihKZGloAkdU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"95fdc4c2a9f1a86131f351a3ebe6bc7e"'
    body:
      encoding: UTF-8
      string: '{"name":"ABC Ltd","balance":20000.0,"minimum_balance":-2000.0,"currency":"USD"}'
  recorded_at: Tue, 22 Mar 2016 19:36:08 GMT
recorded_with: VCR 2.9.3
