---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/account
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - N6YlnMDB2uKZp4Zkid/wvQ==
      Authorization:
      - APIAuth api-key:VE4RKENsTjVd964yXfcnOuE1nPc=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"95fdc4c2a9f1a86131f351a3ebe6bc7e"'
    body:
      encoding: UTF-8
      string: '{"name":"ABC Ltd","balance":20000.0,"minimum_balance":-2000.0,"currency":"USD"}'
  recorded_at: Tue, 22 Dec 2015 17:31:45 GMT
recorded_with: VCR 2.9.3
