---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/account
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - mZFLkyvTelC5g8XnyQrpOw==
      Authorization:
      - APIAuth testing:tqEDJ7NOiQwXBfXLZ1ieHMo+ZYk=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0c8a1509449a43025392be608ef633c4"
    body:
      encoding: UTF-8
      string: '{"name":"Regalii","balance":1797.41,"minimum_balance":-2000.0,"currency":"USD"}'
  recorded_at: Sat, 14 Jan 2017 03:12:57 GMT
recorded_with: VCR 2.9.3
