---
http_interactions:
- request:
    method: get
    uri: http://apix.regalii.dev/transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth testing:Y2zyFn1MM0761BQcOoZLQ+a77QQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Pagination:
      - '{"total_entries":5250,"total_pages":53,"previous_page":null,"current_page":1,"next_page":2}'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68727af925ab7a258cf7a17276ed4cd3"
    body:
      encoding: UTF-8
      string: '{"transactions":[{"type":"transaction","id":1,"amount":6.0,"amount_currency":"usd","fx_rate":42.0,"amount_usd":10.0,"transaction_fee":0.0,"total_usd":10.0,"hours_to_fulfill":0,"created_at":"2013-10-06T21:33:53Z"},{"type":"transaction","id":467261,"amount":50.0,"amount_currency":"usd","fx_rate":1.0,"amount_usd":50.0,"transaction_fee":0.0,"total_usd":50.0,"hours_to_fulfill":0,"created_at":"2014-08-22T23:59:12Z"},{"type":"transaction","id":467881,"amount":10.0,"amount_currency":"usd","fx_rate":1.0,"amount_usd":10.0,"transaction_fee":0.0,"total_usd":10.0,"hours_to_fulfill":0,"created_at":"2014-08-23T16:42:16Z"},{"type":"transaction","id":518451,"amount":50.0,"amount_currency":"usd","f[...]
