---
http_interactions:
- request:
    method: get
    uri: http://api.regalii.dev/billers/topups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth api-key:M5WcYibh66vodyol4TPXNuiScdk=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0f285178775f3ad6995bb69c496ce3aa"'
    body:
      encoding: UTF-8
      string: '{"billers":[{"id":4842,"name":"Alegro","country":"EC","currency":"USD","biller_type":"Cell","bill_type":"phone_number","available_topup_amounts":["6.00","12.00"],"topup_fxrate":null,"mask":null,"topup_commission":11.0,"account_number_digits":"8"}]}'
  recorded_at: Tue, 22 Mar 2016 19:56:13 GMT
recorded_with: VCR 2.9.3
