---
http_interactions:
- request:
    method: get
    uri: http://api.regalii.dev/billers/utilities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth api-key:17LBCPSQes3BgiY6jc84+OhEen4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"26f2a27ae80cf111448992a8984eb010"'
    body:
      encoding: UTF-8
      string: '{"billers":[{"id":3261,"name":"Adani Energy Limited","country":"IN","currency":"INR","biller_type":"Gas","bill_type":"account_number","can_check_balance":false,"mask":"9999999999","requires_name_on_account":false,"supports_partial_payments":true,"hours_to_fulfill":0,"account_number_digits":"10"}]}'
  recorded_at: Tue, 22 Mar 2016 19:56:13 GMT
recorded_with: VCR 2.9.3
