---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/bill/consult
    body:
      encoding: UTF-8
      string: '{"biller_id":1,"account_number":"1234567"}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - k1ZKOoBPxBDjW72F4RpY6Q==
      Authorization:
      - APIAuth api-key:A7kcPjOJdp7w2waN068AC0qI+SM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"62155d3e385f494a55cc1c57673a03b0"'
    body:
      encoding: UTF-8
      string: '{"account_number":"1234567","biller_id":1,"bill_amount":758.0,"bill_amount_currency":"RD","fx_rate":43.7105,"bill_amount_usd":17.34,"bill_amount_chain_currency":17.34,"payment_transaction_fee":3.0,"payment_total_usd":20.34,"payment_total_chain_currency":20.34,"invoice_number":null,"invoice_date":null,"name_on_account":null}'
  recorded_at: Tue, 22 Dec 2015 18:44:38 GMT
recorded_with: VCR 2.9.3
