---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/bill/create
    body:
      encoding: UTF-8
      string: '{"biller_id":2,"account_number":"8081969"}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - HACXtG3Wd6zozvcZfojLgg==
      Authorization:
      - APIAuth api-key:99ow7JeAW/AGhz9QFPlA9FrWl5c=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3d776eb74e2e27ee7656b34cd0ced0ba"'
    body:
      encoding: UTF-8
      string: '{"id":229,"biller_id":2,"account_number":"8081969","name_on_account":null,"due_date":null,"balance":365.0,"balance_currency":"RD","balance_in_chain_currency":8.54,"balance_updated_at":"2016-01-14T21:40:06Z","created_at":"2016-01-14T21:40:06Z","last_paid_at":null,"is_running":false,"error_with_account":false,"error_message":null,"secret_question":null,"secret_answer":null}'
  recorded_at: Thu, 14 Jan 2016 21:40:06 GMT
recorded_with: VCR 2.9.3
