---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/bills
    body:
      encoding: UTF-8
      string: '{"biller_id":2,"account_number":"8081969"}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - HACXtG3Wd6zozvcZfojLgg==
      Authorization:
      - APIAuth api-key:23WWXRbfPpfoeaiiR9eumOPICfc=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"29436f888cb41ed5a3a8904195fb0042"'
    body:
      encoding: UTF-8
      string: '{"id":5,"biller_id":2,"account_number":"8081969","name_on_account":null,"due_date":null,"balance":203.0,"balance_currency":"RD","balance_in_chain_currency":4.64,"balance_updated_at":"2016-03-22T21:32:36Z","created_at":"2016-03-22T21:32:36Z","last_paid_at":null,"error_with_account":false,"error_message":null,"status":"updated","mfa_challenges":[]}'
  recorded_at: Tue, 22 Mar 2016 21:32:36 GMT
recorded_with: VCR 2.9.3
