---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/bill/pay
    body:
      encoding: UTF-8
      string: '{"id":229,"amount":758.0,"currency":"RD","user_id":3101}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - TTs06vATU+524bRgY1/V+w==
      Authorization:
      - APIAuth api-key:C4/HoTZ/86P9SFUBmavBb6x9BI4=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"28211ccb27107ca4518c415bf72e1ac1"'
    body:
      encoding: UTF-8
      string: '{"id":20,"external_id":null,"biller_id":2,"account_number":"8081969","bill_amount":758.0,"bill_amount_currency":"RD","fx_rate":41.8686,"bill_amount_usd":18.1,"bill_amount_chain_currency":18.1,"payment_transaction_fee":3.0,"payment_total_usd":21.1,"payment_total_chain_currency":21.1,"chain_earned":0.0,"chain_paid":21.1,"starting_balance":-134.64,"ending_balance":-155.74,"hours_to_fulfill":0,"discount":0.0,"sms_text":"Tu
        pago de Edenorte por $758.00RD se realizo con éxito! Ahora también puedes
        pagar tu factura de Edesur, Viva y Claro en tu tienda Regalii.","created_at":"2016-01-14T22:23:10Z","payment_status":"sent"}'
  recorded_at: Thu, 14 Jan 2016 22:23:10 GMT
recorded_with: VCR 2.9.3
