---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/bill/refresh
    body:
      encoding: UTF-8
      string: '{"id":229}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - hswnQzsMk/KUKlNUDHom0Q==
      Authorization:
      - APIAuth api-key:Xkg0xvZTvQvdQdIIM36uRF1b0vY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0a7b1c5d5bafe6dc56a85a11c61b0c01"'
    body:
      encoding: UTF-8
      string: '{"id":229,"biller_id":2,"account_number":"8081969","name_on_account":null,"due_date":null,"balance":24.0,"balance_currency":"RD","balance_in_chain_currency":0.56,"balance_updated_at":"2016-01-14T21:43:38Z","created_at":"2016-01-14T21:40:06Z","last_paid_at":null,"is_running":false,"error_with_account":false,"error_message":null,"secret_question":null,"secret_answer":null}'
  recorded_at: Thu, 14 Jan 2016 21:43:38 GMT
recorded_with: VCR 2.9.3
