---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/bill/update
    body:
      encoding: UTF-8
      string: '{"id":229,"name_on_account":"Test name"}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - 4kTq2ZArfUN7m0KoDp4bfg==
      Authorization:
      - APIAuth api-key:rBEAKLYOfGA2ocGqqqSR7GEJmFg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"03fce849122d9514029a593de42562fe"'
    body:
      encoding: UTF-8
      string: '{"id":229,"biller_id":2,"account_number":"8081969","name_on_account":"Test
        name","due_date":null,"balance":195.0,"balance_currency":"RD","balance_in_chain_currency":4.56,"balance_updated_at":"2016-01-14T22:27:40Z","created_at":"2016-01-14T21:40:06Z","last_paid_at":null,"is_running":false,"error_with_account":false,"error_message":null,"secret_question":null,"secret_answer":null}'
  recorded_at: Thu, 14 Jan 2016 22:27:40 GMT
recorded_with: VCR 2.9.3
