---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/bills/674101/xchange
    body:
      encoding: UTF-8
      string: '{"cc_number":"4242424242424242","cc_name_on_card":"John Smith","cc_brand":"visa", "cc_expiry_month":"12","cc_expiry_year":"2020","cc_security_code":"123","cc_address":"123 Fake Street","cc_city":"New York","cc_state":"NY","cc_zip":"10001","cc_country":"US"}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - HACXtG3Wd6zozvcZfojLgg==
      Authorization:
      - APIAuth api-key:23WWXRbfPpfoeaiiR9eumOPICfc=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"29436f888cb41ed5a3a8904195fb0042"'
    body:
      encoding: UTF-8
      string: '{"id":674101,"biller_id":6503,"status":"updating","error_message":null,"account_number":"12345","due_date":"2016-10-10","balance":10.5,"balance_currency":"USD"}'
  recorded_at: Tue, 22 Mar 2016 21:32:36 GMT
recorded_with: VCR 2.9.3
