---
http_interactions:
- request:
    method: get
    uri: http://api.regalii.dev/bills/674101/xdata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth api-key:rf2BpM59AG/pw62+ZPamVhkEvzc=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1fae34a1a67550f79f43c740411397dc"
    body:
      encoding: UTF-8
      string: '{"id":674101,"biller_id":6503,"account_number":"12345","name_on_account":"Kelly Gruber","due_date":"2016-10-10","balance":10.5,"balance_currency":"USD","balance_updated_at":"2016-08-03T18:35:21Z","created_at":"2016-06-14T20:57:08Z","status":"updated","address":null,"payment_method":null,"statements":[],"subordinates":[]}'
  recorded_at: Fri, 14 Oct 2016 21:20:47 GMT
recorded_with: VCR 2.9.3
