---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/bill/check
    body:
      encoding: UTF-8
      string: '{"biller_id":9,"account_number":"6463060086","amount":50}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - DQS+V5xSdhLMVsq19z0h2w==
      Authorization:
      - APIAuth testing:fGNj+JH8S6m8hiE8QbjzyvcJTPk=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["t0azwm8co5tcpswi3lqt","5jk98du3pxcinwjuyyqj","f6ie1t3880amk296nfwc","x1qlxjnutp0728apmxj6","jkfak7i0nzmjdnarmo41","par6uhs6oernbjlzomwk","8xscqsrev8aocsgmzyk9","ig0e1e38gmfvti5mz9t8","l130ii42kwrbytazzoiq","5zmprn500dlfwvfvcnce","4s2qv2z3bs3onhxjttto","ncvfjrroe7f5q0a9zdir","zbb7cd01oqbect094lj2","y8h7wxjgyjn5y8lldy45","oyojf2wwrtzgs2oq6kui","jtp7rxty49srbnvs81vi","aeexy9e3en4wn9c0tjgk","wqv1l87qutpz3z26rm9l","xtnrl1vlsnr0ok239vi4","ozhmwpacbverlbst6qwj"]'
    body:
      encoding: UTF-8
      string: '{"topup_amount_received":1800.0,"bonus_amount_received":0.0,"total_amount_received":1800.0,"topup_fx_rate":40.0,"biller_promotions":[],"phone_number_biller_id":null,"biller_currency_iso":"DOP"}'
  recorded_at: Tue, 01 Aug 2017 20:07:53 GMT
recorded_with: VCR 3.0.3
