---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/bills
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - mZFLkyvTelC5g8XnyQrpOw==
      Authorization:
      - APIAuth testing:uiUx7rvKiJwx1MnNi/La1xUqKhk=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["hi0oyl4yj3yid5dshdia","6ejb8nwplj473si59e1c","t0azwm8co5tcpswi3lqt","5jk98du3pxcinwjuyyqj","f6ie1t3880amk296nfwc","x1qlxjnutp0728apmxj6","jkfak7i0nzmjdnarmo41","par6uhs6oernbjlzomwk","8xscqsrev8aocsgmzyk9","ig0e1e38gmfvti5mz9t8","l130ii42kwrbytazzoiq","5zmprn500dlfwvfvcnce","4s2qv2z3bs3onhxjttto","ncvfjrroe7f5q0a9zdir","zbb7cd01oqbect094lj2","y8h7wxjgyjn5y8lldy45","oyojf2wwrtzgs2oq6kui","jtp7rxty49srbnvs81vi","aeexy9e3en4wn9c0tjgk","wqv1l87qutpz3z26rm9l"]'
      X-Pagination:
      - '{"total_entries":9274,"total_pages":19,"previous_page":null,"current_page":1,"next_page":2}'
    body:
      encoding: UTF-8
      string: '{"bills":[{"biller_id":12,"account_number":"8099670883","current_balance":0.0,"balance_currency":null,"balance_updated_at":null,"name_on_account":null,"due_date":null,"created_at":"2014-03-18T04:24:06Z","updated_at":"2014-03-18T04:24:06Z","last_paid_at":null,"customer":{"unique_id":null,"phone":"8099670883"}},{"biller_id":14,"account_number":"6463060086","current_balance":null,"balance_currency":"RD","balance_updated_at":"2014-12-15T07:03:17Z","name_on_account":"","due_date":null,"created_at":"2014-03-18T04:24:14Z","updated_at":"2015-05-04T05:02:22Z","last_paid_at":null,"customer":{"unique_id":null,"phone":"6463060086"}},{"biller_id":3,"account_number":"6463060086","current_balance":null,"balance_currency":"RD","balance_updated_at":"2014-12-15T07:03:38Z","name_on_account":null,"due_dat[...]
