---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/bill/pay
    body:
      encoding: UTF-8
      string: '{"biller_id":14,"account_number":"6463060086","user_id":12981,"amount":99,"currency":"DOP"}'
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - xJsmPjqUPl5GbiY8FJOi4w==
      Authorization:
      - APIAuth testing:wef2mNjRCsHxMXdzhOVKekEypYE=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["7xow4niq6l4oflkx1j91","hi0oyl4yj3yid5dshdia","6ejb8nwplj473si59e1c","t0azwm8co5tcpswi3lqt","5jk98du3pxcinwjuyyqj","f6ie1t3880amk296nfwc","x1qlxjnutp0728apmxj6","jkfak7i0nzmjdnarmo41","par6uhs6oernbjlzomwk","8xscqsrev8aocsgmzyk9","ig0e1e38gmfvti5mz9t8","l130ii42kwrbytazzoiq","5zmprn500dlfwvfvcnce","4s2qv2z3bs3onhxjttto","ncvfjrroe7f5q0a9zdir","zbb7cd01oqbect094lj2","y8h7wxjgyjn5y8lldy45","oyojf2wwrtzgs2oq6kui","jtp7rxty49srbnvs81vi","aeexy9e3en4wn9c0tjgk"]'
    body:
      encoding: UTF-8
      string: '{"id":12325939,"external_id":null,"biller_id":14,"account_number":"6463060086","bill_amount":99.0,"bill_amount_currency":"DOP","fx_rate":46.5892,"bill_amount_usd":2.13,"bill_amount_chain_currency":2.13,"payment_transaction_fee":3.0,"payment_total_usd":5.13,"payment_total_chain_currency":5.13,"chain_earned":2.0,"chain_paid":3.13,"starting_balance":-10947.78,"ending_balance":-10950.91,"hours_to_fulfill":0,"sms_text":null,"created_at":"2017-08-01T20:07:57Z","bill_amount_local_currency":4612.3308,"local_currency":"RD","ticket_text":"Pago
        realizado exitosamente Auth: 1501618077"}'
  recorded_at: Tue, 01 Aug 2017 20:07:57 GMT
recorded_with: VCR 3.0.3
