---
http_interactions:
- request:
    method: post
    uri: http://api.regalii.dev/rates/history
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - mZFLkyvTelC5g8XnyQrpOw==
      Authorization:
      - APIAuth testing:QEBvhV80TUc5LzQWafb0bDKmn1w=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["yzn45ee23n7io98v2qj2","7xow4niq6l4oflkx1j91","hi0oyl4yj3yid5dshdia","6ejb8nwplj473si59e1c","t0azwm8co5tcpswi3lqt","5jk98du3pxcinwjuyyqj","f6ie1t3880amk296nfwc","x1qlxjnutp0728apmxj6","jkfak7i0nzmjdnarmo41","par6uhs6oernbjlzomwk","8xscqsrev8aocsgmzyk9","ig0e1e38gmfvti5mz9t8","l130ii42kwrbytazzoiq","5zmprn500dlfwvfvcnce","4s2qv2z3bs3onhxjttto","ncvfjrroe7f5q0a9zdir","zbb7cd01oqbect094lj2","y8h7wxjgyjn5y8lldy45","oyojf2wwrtzgs2oq6kui","jtp7rxty49srbnvs81vi"]'
    body:
      encoding: UTF-8
      string: '{"2017-08-01":{},"2017-07-31":{},"2017-07-30":{},"2017-07-29":{},"2017-07-28":{},"2017-07-27":{},"2017-07-26":{},"2017-07-25":{},"2017-07-24":{},"2017-07-23":{},"2017-07-22":{},"2017-07-21":{"GBP":0.7534,"CAD":1.2284,"MXN":17.2688,"RD":46.5892,"NIO":29.4784,"GTQ":7.1502,"HNL":22.9949,"COP":2953.5534,"BRL":3.0764,"PEN":3.1805,"BOB":6.8362,"PHP":49.7022,"INR":63.1978,"JMD":125.244,"NGN":308.945},"2017-07-20":{},"2017-07-19":{},"2017-07-18":{},"2017-07-17":{},"2017-07-16":{},"2017-07-15":{},"2017-07-14":{},"2017-07-13":{},"2017-07-12":{},"2017-07-11":{},"2017-07-10":{},"2017-07-09":{},"2017-07-08":{},"2017-07-07":{},"2017-07-06":{"GBP":0.7576,"CAD":1.2681,"MXN":17.9771,"RD":46.55,"NIO":29.3608,"GTQ":7.1834,"HNL":22.9808,"COP":3024.9366,"BRL":3.2403,"PEN":3.1925,"BOB":6.8331,"PHP":49.6404,"INR":63.4052,"JMD":126.8728,"NGN":308.945},"2017-07-05":{"GBP":0.7596,"CAD":1.2706,"MXN":17.9451,"RD":46.2289,"NIO":29.4495,"GTQ":7.1854,"HNL":23.0102,"COP":2987.8436,"BRL":3.2444,"PEN":3.1904,"BOB":6.8215,"PHP":49.6468,"INR":63.5408,"JMD":126.7169,"NGN":308.2257},"2017-07-04":{"GBP":0.7582,"CAD":1.2739,"MXN":17.8257,"RD":46.3538,"NIO":29.2685,"GTQ":7.1923,"HNL":22.8623,"COP":2985.4426,"BRL":3.2361,"PEN":3.1867,"BOB":6.8135,"PHP":49.49,"INR":63.4501,"JMD":127.0482,"NGN":309.0577},"2017-07-03":{"GBP":0.756,"CAD":1.2727,"MXN":17.7895,"RD":46.3311,"NIO":29.2939,"GTQ":7.1886,"HNL":22.8804,"COP":2984.149,"BRL":3.2403,"PEN":3.1853,"BOB":6.8101,"PHP":49.6419,"INR":63.4996,"JMD":126.9394,"NGN":308.5922},"2017-07-02":{"GBP":0.7523,"CAD":1.2705,"MXN":17.7632,"RD":46.2466,"NIO":29.2421,"GTQ":7.176,"HNL":22.8392,"COP":2983.1494,"BRL":3.2422,"PEN":3.1797,"BOB":6.798,"PHP":49.3881,"INR":63.3245,"JMD":126.7169,"NGN":307.7112}}'
  recorded_at: Tue, 01 Aug 2017 20:07:57 GMT
recorded_with: VCR 3.0.3
