---
http_interactions:
- request:
    method: get
    uri: http://apix.regalii.dev/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth testing:YDpYhv97Qh0AuuLQapyoxGO5iMU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0c8a1509449a43025392be608ef633c4"
    body:
      encoding: UTF-8
      string: '{"name":"Regalii","balance":1797.41,"minimum_balance":-2000.0,"currency":"USD"}'
  recorded_at: Fri, 20 Jan 2017 18:11:05 GMT
recorded_with: VCR 2.9.3
